@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.app-container {
  height: 100vh;
}
.two-column-container {
  width: 100%;
  display: flex;
  flex: 1;
}

.left-column {
  width: 360px;
  padding: 2rem;
}

.right-column {
  flex: 1;
  padding: 2rem;
}

.maintask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maintask-tag {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.maintask h2 {
  font-size: 1rem;
} */

/* .right-col {
  background-image: linear-gradient(
      180deg,
      rgba(154, 231, 255, 0.2) 0%,
      rgba(1, 28, 36, 0.2) 100%
    ),
    #c7c7c7;
} */

.right-col {
  background: linear-gradient(
      180deg,
      rgba(154, 231, 255, 0.2) 0%,
      rgba(1, 28, 36, 0.2) 100%
    ),
    #c7c7c7;
  overflow: hidden;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.right-col::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: -100px;
  right: -100px;
  background-image: url("./task.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-30deg);
  opacity: 0.1;
  z-index: -1;
}

.task-finish-button {
  cursor: pointer;
}

.task-finish-button:hover {
  background-image: url("./check.svg");
  background-size: cover;
  background-repeat: no-repeat;
  fill: #0c788f;
}

.task-finish-button-checked {
  cursor: pointer;
  background-image: url("./check.svg");
  background-size: cover;
  background-repeat: no-repeat;
  fill: #0c788f;
}
